<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url=/guides/introduction/" />
    <script type="text/javascript">
        window.location.href = "/guides/introduction/"
    </script>
</head>
<body style="background: #0f0d11;">
    <!-- Minimal background to prevent white flash -->
</body>
</html>
